.log {
  -webkit-appearance: textfield;
  border-style: hidden;
  font-size: large;
  background-color: #EEE;
}
.sub {
  border-style: solid;
  font-size: large;
}

.sub:hover {
  color: #607D8B;
  background-color: #BBD8DC;
}
