agm-map {
  height: 300px;
}

#buttons {
  display: -webkit-inline-box;
  position: relative;
  left: 70%;
  margin-top: 2em;
}

.map-button {
  border-style: solid;
  font-size: large;
  margin: .5em;
}

.map-button:hover {
  color: #607D8B;
  background-color: #BBD8DC;
}
